#/bin/sh

set -e

. /usr/share/debconf/confmodule

# restart Docker if it's running (thus this is an upgrade) and the user (via debconf) tells us they're OK with that
db_version 2.0
db_fset docker.io/restart seen false
if [ -n "$2" ] && [ "$1" = 'configure' ] && {
	# either:
	#   - we're doing "dpkg-reconfigure" (and thus need to "db_input" to make sure users can change their answer between installs/upgrades)
	#   - we're doing install/upgrade and Docker is running (and thus it matters whether or not the user wants us to restart Docker for them)
	[ -n "${DEBCONF_RECONFIGURE:-}" ] \
	|| invoke-rc.d --disclose-deny docker status > /dev/null 2>&1
}; then
	db_input high docker.io/restart || true
	db_go || true
fi
db_stop
